@* @model List<Asset>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">
            <i class="fas fa-boxes mr-2"></i>Asset List
        </h6>
        <a asp-action="Add" class="btn btn-primary btn-sm">
            <i class="fas fa-plus mr-1"></i> Add New Asset
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="assetTable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Warranty</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var asset in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Update" asp-route-id="@asset.Id" class="text-decoration-none">
                                    <i class="fas fa-box mr-2 text-primary"></i>@asset.Name
                                </a>
                            </td>
                            <td>
                                <span class="badge badge-info">
                                    <i class="fas fa-barcode mr-1"></i>@asset.SerialNumber
                                </span>
                            </td>
                            <td>
                                @if (asset.Active)
                                {
                                    <span class="badge badge-success">
                                        <i class="fas fa-check-circle mr-1"></i>Active
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">
                                        <i class="fas fa-times-circle mr-1"></i>Inactive
                                    </span>
                                }
                            </td>
                            <td>
                                @if (asset.HaveWarranty)
                                {
                                    <span class="badge badge-warning">
                                        <i class="fas fa-shield-alt mr-1"></i>Under Warranty
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-secondary">
                                        <i class="fas fa-shield-alt mr-1"></i>No Warranty
                                    </span>
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a asp-action="Update" asp-route-id="@asset.Id" class="btn btn-primary btn-sm" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm btnDelete" data-id="@asset.Id" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                  
                                 
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    
    <script>
        $(function () {
            $('.btnDelete').click(function () {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        var id = $(this).data('id');
                        $.ajax({
                            url: '/Asset/Delete/' + id,
                            type: 'GET',
                            success: function (response) {
                                window.location.href = '/Asset/Index';
                            }
                        });
                    }
                });
            });
        });
    </script>
}


     *@